hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

#background-video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  opacity: 0.5;
  /* z-index: 0; */
}

.container {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
  max-width: 700px;
  padding: 30px 30px 15px 30px;
  padding-top: 40px;
  position: relative;
  top: 50px;
}

/* .content-wrapper {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  max-width: 600;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed; */
/* z-index: 1;
} */

.search-form {
  padding-top: 20px;
  padding-bottom: 40px;
}

#search-button,
#my-location-button {
  font-size: 17px;
  font-weight: 500;
  height: 48px;
}

#search-button {
  background: #094988f5;
  border: #094988f5;
}

#my-location-button {
  background: #1772ccf5;
  border: #1772ccf5;
  margin-left: 30px;
}

#search-button:hover {
  background: #f14c1e;
}

#my-location-button:hover {
  background: #ec6e4c;
}

#current-city {
  font-size: 70px;
  font-weight: 500;
  opacity: 0.9;
  /* position: relative;
  right: -43px;
  text-align: center; */
}

.units {
  padding: 15px 8px;
}

#Celsius-button,
#Fahrenheit-button {
  /* border-color: white; */
  border-radius: 10px;
  font-size: 20px;
  /* font-weight: 500; */
  padding: 5px 38px;
  position: relative;
  top: 10px;
}

#Celsius-button {
  position: relative;
  right: -7px;
}

.units .active {
  background: #ec6e4c;
  border-color: #ec6e4c;
  font-weight: 800;
}

#weather-icon {
  position: relative;
  top: -8px;
  left: -25px;
}

#current-temperature {
  font-size: 100px;
  font-weight: 500;
  line-height: 120px;
  padding: 0%;
  position: relative;
  left: -15px;
}

.current-conditions {
  list-style: none;
  margin-top: 21px;
  opacity: 0.8;
  padding-left: 0;
}

#weather-description {
  font-size: 17px;
  font-weight: bold;
}

#weather-description:first-letter {
  text-transform: uppercase;
}

.date {
  padding-bottom: 10px;
  opacity: 0.8;
}

.forecast {
  margin-bottom: 15px;
  text-align: center;
}

.footer {
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

#github-link,
#netlify-link {
  text-decoration: none;
}

#github-link:hover {
  color: rgb(240, 53, 21);
}

#netlify-link:hover {
  color: rgb(240, 53, 21);
}
